<div class="p-grid p-nogutter p-justify-center p-align-center height-100">
  <p-panel header="Welcome to the chat">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" #ngForm="ngForm">
      <div class="p-col-fixed panel-width">
        <div class="p-col-12">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-user line-height-125"></i></span>
            <input type="text" pInputText placeholder="Enter your nickname" class="width-100" formControlName="nick">
          </div>
          <div class="validation-error">{{getError('nick', ngForm)}}</div>
        </div>
        <div class="p-col-12">
          <button pButton type="submit" label="Enter" class="ui-button-raised width-100"></button>
        </div>
      </div>
    </form>
  </p-panel>
</div>
