<p-menu #menu [popup]="true" [model]="items"></p-menu>
<div class="container">
  <div class="users">
    <div class="ui-inputgroup corner-menu">
      <input type="text" pInputText value="{{principal?.nick}}" style="width: 125px" disabled>
      <button pButton type="button" icon="pi pi-bars" class="ui-button-info" (click)="menu.toggle($event)"></button>
    </div>
    <div [style]="{width: '100%'}">
      <p-listbox [options]=usersList|async optionLabel="nick"
                 [style]="{width: '100%', border: 'none'}" [readonly]="true"></p-listbox>
    </div>
  </div>
  <div class="users-shad"></div>
  <div class="messages">
    <ul>
      <li *ngFor='let message of messages'>{{message.timestamp|date:'HH:mm:ss'}}
        <b>{{message.userNick}}</b> - {{message.payload}}</li>
    </ul>
  </div>
  <div class="footer flex-parent">
    <div class="ui-inputgroup centered-child">
      <input type="text" pInputText placeholder="Public message" style="flex-grow: 1" [(ngModel)]="inputText"
             (keyup.enter)="send()">
      <button pButton type="button" icon="pi pi-pencil" class="ui-button-info" (click)="send()"></button>
    </div>
  </div>
</div>
