<p-menu #cornerMenu [popup]="true" [model]="cornerMenuItems"></p-menu>
<div class="container">
  <div class="users">
    <div class="ui-inputgroup corner-menu">
      <input type="text" pInputText style="width: 125px"
             [(ngModel)]="nick"
             (ngModelChange)="nickChanged.next($event)">
      <button pButton type="button" icon="pi pi-bars" class="ui-button-info"
              (click)="cornerMenu.toggle($event)"></button>
    </div>
    <p-listbox [options]=usersList|async optionLabel="nick"
               [style]="{width: '100%', border: 'none'}" [readonly]="true"></p-listbox>
  </div>
  <div class="users-shad"></div>
  <div class="messages" #messagesScroll>
    <ul class="msg-list">
      <li class="msg-list-entry" *ngFor='let message of messages'>
        <span class="msg-time">{{message.timestamp|date:'HH:mm'}} </span>
        <span class="msg-nick" [class.msg-self]="principal?.id === message.clientId">{{message.userNick}}</span>
        <span class="msg-text"> {{message.payload}}</span>
      </li>
    </ul>
  </div>
  <div class="footer flex-parent">
    <app-message-input (newMessage)="send($event)" class="centered-child"></app-message-input>
  </div>
</div>
