<p-menu #filesMenu [popup]="true" [model]="filesMenuItems"></p-menu>
<div class="p-inputgroup">
  <button pButton pRipple type="button" icon="pi pi-paperclip" class="p-button-info"
          (click)="fileInputDialog.click()"
          pTooltip="Attach files"
  >
    <input type="file" style="display:none" #fileInputDialog multiple (change)="newFilesAdded($event)">
  </button>
  <button *ngIf="filesList.length>0" pButton pRipple class="p-button-info" (click)="filesMenu.toggle($event)"
          [label]="filesList.length.toString()" [style]="{marginLeft: '1px'}"
          pTooltip="{{filesToolTipText}}"
  ></button>
  <input type="text" pInputText placeholder="Public message" [(ngModel)]="inputText"
         (input)="userTypingRaw.emit()"
         (keyup.enter)="send()"
         pTooltip="Message text"
  >
  <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-info"
          (click)="send()"
  ></button>
</div>
