<span class="msg-time" [class.msg-info]="isInfo">{{message.timestamp|date:!isInfo ? 'HH:mm' : 'dd-MM-yyyy HH:mm:ss'}} </span>
<span *ngIf="!isInfo" class="msg-nick" [class.msg-self]="isSelfMessage">{{message.client.nick}}</span>
<span *ngIf="!richMessage" [class.msg-info]="isInfo" class="msg-text"> {{message.payload}}</span>
<span *ngIf="richMessage" class="msg-text">
  <span> {{richMessage.message}}</span>
  <button pButton type="button" class="msg-attachment ui-button-raised ui-button-secondary"
          *ngFor="let attachment of richMessage.attachments"
          (click)="attachmentRequest.emit(attachment)"
          icon="pi pi-paperclip"
          pTooltip="{{(attachment.size|fileSize)+' '+(attachment.lastModified|date:'dd.MM.yy hh:mm')}}"
          tooltipPosition="top"
          label="{{attachment.name}}"></button>
</span>
