.msg-attachment {
  word-break: break-all;
}

.img-thumb {
  margin: 2px;
}

::ng-deep .ui-tooltip {
  max-width: 280px;
}

.container {
  display: inline-block;
  position: relative;
  margin: 4px 0 4px 8px;
  vertical-align: middle;
  max-width: 300px;
}

.btn {
  position: absolute;
  font-size: 12px;
  bottom: 2px;
  right: 2px;
  background-color: #00b3ff;
  border: none;
}
