.msg-attachment {
  width: 100%;
  word-break: break-all;
}

.img-thumb {
  margin-bottom: -4px;
}

::ng-deep.p-tooltip {
  max-width: 280px;
}

.container {
  display: inline-block;
  margin: 4px 0 4px 8px;
  vertical-align: middle;
  max-width: 320px;
  text-align: center;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
